.testimonial {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 4rem;
    padding-bottom: 4rem;
    grid-gap: 1.6rem;
}

.testimonial__container {
    padding: 1.2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .2);
}

.testimonial__container .testimonial__text p {
    font-size: .9rem;
    font-style: italic;
    padding: .8rem 0 1.6rem 0;
    color: var(--nextnav-toggle);
    border-bottom: 1px solid rgb(229, 227, 227);
}

.testimonial__profile .image {
    height: 90px;
    width: 90px;
    overflow: hidden;
    border-radius: 5px;
}

.testimonial__profile .image img {
    height: 100%;
    border-radius: 5px;
}

.testimonial__profile {
    margin-top: 1.2rem;
    display: grid;
    column-gap: 2rem;
    grid-template-columns: 20% auto;
}

.testimonial__profile .id h1 {
    font-size: 1.2rem;
    letter-spacing: 1px;
    padding: .5rem 0;
    font-weight: 500;
    color: var(--color-toggle);
    text-transform: uppercase;
}

.testimonial__profile .id p {
    font-size: .8rem;
    color: var(--color-toggle);
    letter-spacing: 1px;
}

@media screen and (max-width: 814px) {
    .testimonial__profile {
        column-gap: 3rem;
    }
}

@media screen and (max-width: 729px) {
    .testimonial__profile {
        column-gap: 1rem;
    }

    .testimonial {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 610px) {
    .testimonial__profile {
        column-gap: 2.5rem;
    }
}